body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.todoapp{
    width: 100%;
    max-width: 270px;
    background: #f1e8df;
    margin: 15px auto 10px;
    padding: 5px 15px 5px;
    border-radius: 5px;
    opacity: 0.95;
    box-shadow: 0 0 10px rgba(52, 34, 20, 0.7);
}
@font-face {
    font-family: typewriter;
    src: url(elegant_typewriter/ELEGANT\ TYPEWRITER\ Regular.ttf);
}
.todoapp h2{
    color: black;
    font-family: typewriter;
    font-size: medium;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.todoapp h2 img{
    width: 15px;
    margin-left: 5px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 15px;
    padding-left: 10px;
    margin-bottom: 12.5px;
    font-family: typewriter;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-family: typewriter;
}
button{
    border: none;
    outline: none;
    padding: 8px 25px;
    background: #342214;
    color: #f1e8df;
    font-family: typewriter;
    font-size: 10px;
    cursor: pointer;
    border-radius: 20px;
}
.todoapp li{
    list-style: none;
    font-size: 15px;
    padding: 7.5px 4px 6px 10px;
    user-select: none;
    cursor: pointer;
    font-family: typewriter;
    position: relative;
}

.todoapp ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/checkbox.svg);
    background-size: cover;
    background-position: center;
    top: 6px;
    left: -30px;
}
ul li.checked{
    color: #342214;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checkbox-checked.svg);
}
ul li span{
    position: absolute;
    right: 0;
    top: 2.5px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-family: typewriter;
    color: black;
    line-height: 20px;
    text-align: center;
}
ul li span:hover{
    background: #342214;
    color: #f1e8df;
    border-radius: 4px;
}

.contain{
  padding: 5px;
  box-sizing: border-box;
  font-family: typewriter;
}

.wrapper{
  width: 450px;
  background: #f1e8df;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(52, 34, 20, 0.7);
  opacity: 0.95;
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
  font-family: typewriter;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background-color: #342214;
  opacity: 0.95;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}
