body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.todoapp{
    width: 100%;
    max-width: 270px;
    background: #f1e8df;
    margin: 15px auto 10px;
    padding: 5px 15px 5px;
    border-radius: 5px;
    opacity: 0.95;
    box-shadow: 0 0 10px rgba(52, 34, 20, 0.7);
}
.main h1{
  text-align: center;
}
.budget{
  width: 100%;
  max-width: 270px;
  background: #f1e8df;
  margin: 7px auto 10px;
  padding: 5px 15px 5px;
  border-radius: 5px;
  opacity: 0.95;
  box-shadow: 0 0 10px rgba(52, 34, 20, 0.7);
}
.budget h2{
    color: black;
    font-family: typewriter;
    font-size: large;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.budget h5{
  color: black;
    font-family: typewriter;
    font-size: small;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#balance, #income, #expense{
  color: #f1e8df;
  font-family: typewriter;
  font-size: medium;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
@font-face {
    font-family: typewriter;
    src: url(elegant_typewriter/ELEGANT\ TYPEWRITER\ Regular.ttf);
}
.todoapp h2{
    color: black;
    font-family: typewriter;
    font-size: large;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.todoapp h2 img{
    width: 18px;
    margin-left: 5px;
}
.budget h2 img{
  width: 18px;
  margin-left: 5px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 15px;
    padding-left: 10px;
    margin-bottom: 12.5px;
    font-family: typewriter;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-family: typewriter;
}
button{
    border: none;
    outline: none;
    padding: 8px 25px;
    background: #342214;
    color: #f1e8df;
    font-family: typewriter;
    font-size: 10px;
    cursor: pointer;
    border-radius: 20px;
}
.todoapp li{
    list-style: none;
    font-size: 15px;
    padding: 7.5px 4px 6px 10px;
    user-select: none;
    cursor: pointer;
    font-family: typewriter;
    position: relative;
}

.todoapp ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/checkbox.svg);
    background-size: cover;
    background-position: center;
    top: 6px;
    left: -30px;
}
ul li.checked{
    color: #342214;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checkbox-checked.svg);
}
ul li span{
    position: absolute;
    right: 0;
    top: 2.5px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-family: typewriter;
    color: black;
    line-height: 20px;
    text-align: center;
}
ul li span:hover{
    background: #342214;
    color: #f1e8df;
    border-radius: 4px;
}

.contain{
  padding: 5px;
  box-sizing: border-box;
  font-family: typewriter;
}

.wrapper{
  width: 450px;
  background: #f1e8df;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(52, 34, 20, 0.7);
  opacity: 0.95;
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
  font-family: typewriter;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background-color: #342214;
  opacity: 0.95;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}
.flex-container {
  display: flex;
  justify-content: space-around; 
  align-items: flex-start; 
  padding: 20px; 
}


.calendar {
  flex: 0 0 70%; 
  margin: 1px; 
}
.todoapp{
  flex: 0 0 30%;
  margin: 7px;
}

header, .anime{
   background-color: #342214;
   color: #f1e8df;
   padding: 1rem;
   text-align: center;
   border-radius: 5px;
   display: flex;
   flex-wrap: wrap;
}

.anime div{
  padding: 5px;
}

.anime div:first-child{
  flex-basis: 100%;
  font-size: 2.25rem;
  font-weight: 600;
}

.anime div:nth-child(n+2) {
  flex-basis: 50%;
  font-size: 1.25rem;
  font-weight: 500;
}

.anime h5{
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #f1e8df;
}

form{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: typewriter;
}

form input{
  width: 180px;
  padding: 10px;
  border: 1px solid #878787;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 20px;
  font-family: typewriter;
  font-size: 1rem;
}
font button{
  background-color: #342214;
  color: #f1e8df;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 3px 5px rgba(52, 34, 20, 0.7);
}

form div:first-child{
  flex-basis: 100%;
}

form div:nth-child(n+2){
  flex-basis: calc(50% - 5px);
}

form label{
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
h3, .anime, ul{
  margin-bottom: 0.5rem;
}

ul{
  list-style-type: none;
}

#status {
  text-align: center;
  margin-bottom: 0.5rem;
}

h3{
  font-family: typewriter;
}

html {
  font-size: 100%;
}

@media (max-width: 575.98px) {
  html {
      font-size: 85%; 
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
      font-size: 90%; 
  }
}

@media (min-width: 768px) {
  html {
      font-size: 95%; 
  }
}

@media (min-width: 992px) {
  main {
      display: flex;
      justify-content: space-between;
  }

  section {
      flex: 1;
      margin: 0 1rem;
  }

  header, footer {
      text-align: left;
      padding: 1rem 3rem;
  }
}

@media (min-width: 1200px) {
  html {
      font-size: 100%; /* 16px */
  }

  main {
      max-width: 1140px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
  }

  header, footer {
      padding: 1rem 4rem;
  }
}


